@{
    ViewBag.SelectedNavigationMenu = "Home";

}

<style>
    /* Display Image Full Width */
    .imgbox {
        display: grid;
        height: 100%;
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
</style>

<div class="imgbox" style="margin:10px;">
    <img class="center-fit" src="@Url.Content("~/ArticlesAssets/Article2022060101/Article202206010101.jpg")">
</div>

<div style="max-width:1000px;min-width:300px;padding:10px; margin: 0 auto;">
    <div style="white-space:pre-line;">
        Language Lovers!

        Tanggal 1-3 Juni 2022, iSpeak hadir di Poppins Bazaar. Poppins sendiri merupakan bazaar yang nge-hits di Bandung. Tema bazaar nya kali ini adalah Summer Holiday karena bertepatan dengan libur sekolah.

        iSpeak senang sekali bisa bertemu dengan sesama pecinta bahasa asing. Selama event berlangsung, iSpeak menawarkan harga EARLY BIRD untuk kelas All-you-can-learn kami yaitu The Language Club & Little Friends Club. Ada juga berbagai kelas gratis yang bisa Language Lovers ikuti.

        The Language Club merupakan kelas All-you-can learn dimana Lavers bisa belajar 10 bahasa asing setiap harinya. Lavers bisa memilih sendiri mau bergabung di kelas mana saja. Harga yang ditawarkan saat periode promo juga sangan terjangkau yaitu 199k saja per bulannya.

        Little Friends Club merupakan kelas All-you-can-learn yang secara khusus dibuat untuk anak usia TK - SD. Dalam program ini, Little Friends juga dapat dengan bebas mengakses kelas setiap hari. Untuk kelas Little Friends Club, ada 3 bahasa yang bisa dipelajari yaitu kelas bahasa Inggris, Mandarin, & Korea. Harga yang ditawarkan pun sama seperti The Language Club yaitu 199k saja per bulannya.

        Nah, untuk Lavers yang berada di Bandung, Lavers bisa belajar onsite juga loh dalam program ALL-you-can-learn ini. Hanya dengan menambah 99k saja per bulannya.

        Gimana nih, Lavers?
        Tertarik belajar berbagai bahasa asing bersama iSpeak?

        Ayo coba ikuti kelas-kelas kami ya!

    </div>
</div>

